/* shared style */
* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.text-light-gray {
    color: #727272;
    line-height: 1.8;
}

li {
    /* list-style: none; */
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}

/* header styles starts here */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style-type: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}

ul li a {
    text-decoration: none;
}

/* banner styles starts here */
.banner {
    
}

.banner-content {
    /* display: flex;
    flex-direction: column; */
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
}

.banner-content .banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner-content .banner-description {
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.banner-content button {
    
}

.banner img {
    margin-top: 20px;
    width: 100%;
}


/* header design end here */
/* main design starts here */
main {
    max-width: 1000px;
    margin: 0 auto;
}

main section {
    
}
/* feature section design starts here */
.teams-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px 0;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.teams-img-container img {
    width: 200px;
    height: 200px;
}

.teams-content {
    padding-left: 60px;
    text-align: left;
}

.teams-title {
    font-size: 2.7rem;
    font-weight: 500;

}

.teams-title .quick-list {
    color: #727272;
}

.teams-title .of-our {
    color: #131313;
}

.teams-title .features {
    color: #FF900E;
}

.teams-description {
    max-width: 537px;
    font-weight: 400;
    line-height: 162.5%;
    margin: 20px 0;
}




/* feature section design ends here */


/* banner styles ends here */
/* header styles ends here */

/* responsive design */
/* responsive styles */
/* mobile devices */
@media screen and (max-width: 576px ){
    header {
        padding: 20px;
    }

    nav, .teams-container {
        flex-direction: column;
    }

    .banner-content .banner-title {
        font-size: 2rem;
    }

    .teams-img-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .teams-content {
        padding-left: 40px;
        padding-right: 40px;
    }
}
/* medium devices */
@media screen and (min-width: 576px ) and (max-width: 960px) {
    header {
        padding: 50px;
    }

    nav, .teams-container {
        flex-direction: column;
    }

}




